*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background: linear-gradient(to bottom, #7EA47E, #fff);
    min-height: 100vh;
    font-family: arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}
.header{
    background: #FF9DB5;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
.nav{
    background: #FFE0E8;
}
.nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav ul li{
    margin: o 1rem;
}
.nav ul li a{
    color: #555;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}
.nav ul li a:hover{
    background: #fff;
    border-radius: 5px;
}
.main{
    flex: 1;
    padding: 10rem;
    position: relative;
    left: 35px;
    padding-bottom: 85px;
    padding-right: 1px;
}
.content{
    max-width: 800px;
    margin: 0 auto;
}
.foto-container{
    margin: 10px;
    position: absolute;
    top: 150px;
    left: 285px;
    height: 40vh;
    align-items: flex-start;
}
.foto-redonda{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
}
.criança{
    position: relative;
    display: block;
    margin: 0 auto;
    flex-direction: column-reverse;
    top: 100px;
    margin-left: 350px;
    background-color: #FF9DB5;
    padding: 5px;
    border-radius: 5%;
}
.thais-criança{
    position: relative;
    display: block;
    margin: 0 auto;
    flex-direction: column-reverse;
    left: 400px;
    margin-left: 300px;
    bottom: 180px;
    background-color: #FF9DB5;
    padding: 5px;
    border-radius: 5%;
}
.palmeiras{
    position: relative;
    margin: 10px;
    left: 210px;
    height: 40vh;
    align-items: flex-start;
    top: -170px
}
.texto{
    position: relative;
    bottom: 170px;
    left: 25px;
}
.texto-dança{
    margin-bottom: 1000px;
    position: relative;
    bottom: 100px;
    margin: 0;
}
.imagens{
    position: relative;
    bottom:50px ;
}
.texto-lazer{
    position: relative;
    top: 10px;
    margin: 0%;
}
.texto-final{
    position: relative;
    margin-bottom: 500px;
    top: 50px;
}
.lazer{
    position: relative;
    top: 35px;
}
.lolita{
    position: relative;
    bottom: 850px;
    background-color: #FF9DB5;
    padding: 6px;
    border-radius: 6%;
}
.video{
  position: relative;
  bottom: 300px;
}